{% extends 'base.html' %}
{% block body %}
<h2>{{ the_title }}</h2>
    <p>在中国互联网用户人数突破8亿的今天，网络游戏也飞速发展，本项目将以可视化形式展示一些互联网和网络游戏的发展数据。</p>

<form method='POST' action='/01'>
    <table>
        <p><b>&nbsp;&nbsp;&nbsp;&nbsp;First</b></p>
        <tr><td>互  联  网  使  用  人  口&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td><input value='Check It!' type='SUBMIT'></td></tr>

    </table>
</form>

<form method='POST' action='/02'>
    <table>
        <p><b>&nbsp;&nbsp;&nbsp;&nbsp;Second</b></p>
        <tr><td>互联网人口与移动用户人口对比</td><td><input value='Check It!' type='SUBMIT'></td></tr>
    </table>
</form>

<form method='POST' action='/03'>
    <table>
        <p><b>&nbsp;&nbsp;&nbsp;&nbsp;Third</b></p>
        <tr><td>中 国 游戏产业 实际销售 收入&nbsp;</td><td><input value='Check It!' type='SUBMIT'></td></tr>
    </table>
</form>

 <form method='POST' action='/04'>
    <table>
        <p><b>&nbsp;&nbsp;&nbsp;&nbsp;Fourth</b></p>
        <tr><td>游戏 用 户 的 男 女 性 比例&nbsp;&nbsp;&nbsp;&nbsp;</td><td><input value='Check It!' type='SUBMIT'></td></tr>
    </table>
</form>

<form method='POST' action='/05'>
    <table>
        <p><b>&nbsp;&nbsp;&nbsp;&nbsp;Fifth</b></p>
        <tr><td>女性游戏市场实际销售收入占比</td><td><input value='Check It!' type='SUBMIT'></td></tr>
    </table>
</form>

<form method='POST' action='/06'>
    <table>
        <p><b>&nbsp;&nbsp;&nbsp;&nbsp;Sixth</b></p>
        <tr><td>中国 端游 实 际 销 售 收 入&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td><input value='Check It!' type='SUBMIT'></td></tr>
    </table>
</form>

<form method='POST' action='/game'>
    <table>
        <p><b>在互联网通过手机不断扩展用户的同时，我国的游戏产业规模又是怎样的呢？</b></p>
        <tr><td>Data One</td><td><input value='Check It!' type='SUBMIT'></td></tr>
    </table>
</form>

<form method='POST' action='/net'>
    <table>
        <tr><td>Data Two</td><td><input value='Check It!' type='SUBMIT'></td></tr>
    </table>
</form>

<form method='POST' action='/zongjie'>
    <table>
        <tr><td>Summary</td><td><input value='Check It!' type='SUBMIT'></td></tr>
    </table>
</form>
{% endblock %}

