<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p> 中国互联网游戏发展研究</p>
<p>在中国互联网用户人数突破8亿的今天，网络游戏也飞速发展，本项目将以可视化形式展示一些互联网和网络游戏的发展数据。</p>
<p>根据CNNIC发布的第44次《中国互联网络发展状况统计报告》分析得《互  联  网  使  用  人  口统计图》和《互联网人口与移动用户人口对比》，我国移动互联网的接入是持续深化的，手机用户数量大幅提升，随之攀升的还有移动游戏用户人口。</p>
<p>根据《中 国 游戏产业 实际销售 收入分析图》可知，自2017年起，收入增长率大幅下滑，关注业界可发现由于市场规模逐渐饱和，且从2017年开始有两次大的停止发放游戏版号行为。“快钱”变得难赚，游戏产业进入新的发展局面</p>
<p>由《游戏 用 户 的 男 女 性 比例》和《女性游戏市场实际销售收入占比》分析可得，中国女性游戏用户规模突破 3 亿人，占中国游戏用户规模的 46.2%，但实际收入占比并不高。作为游戏市场越来越重要的消费群体，女性用户对中国游戏市场的贡献仍待激发。</p>
<p><b>总结</b></p>
<p>当年红极一时的中国客户端游戏市场已步入成熟期，进入存量竞争阶段，面临来自移动游戏的竞争压力，行业内部竞争激烈，发展速度逐渐放缓。精品化战略成为客户端游戏领域新的生机。</p>
<p>2018年9月，客户端游戏《太吾绘卷》抢先体验版、另一款2018年上线的客户端游戏《中国式家长》以及2019年初的国产互动叙事游戏《隐形守护者》都获得了大量好评，过去在中国游戏市场上存在的创新不足、题材雷同、追逐快钱等问题在客户端游戏领域正逐步消解。</p>
<p>总而言之，互联网以及网络游戏都因为科技和时代的发展而不断发展壮大，其中也存在诸如女性游戏市场开发不足，客户端游戏的逐渐没落和重换新生，移动游戏的爆火到热度逐渐冷却的问题，这些都是值得游戏厂商和独立游戏开发者思考的问题，普通玩家也可以借此擦亮眼睛，在诸多游戏中找到自己心仪的游戏类型进行尝试。</p>
<p>数据来源：中国音数协游戏工委、中国互联网信息中心、伽马数据</p>
</body>
</html>